* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --aesthetic-blue-bg: #202024;
  --aesthetic-blue: #338AF3;
  --bg-blue-overlay: url(../svg/bg-blue-overlay.svg);
  
  --aesthetic-green-bg: #1A1F1B;
  --aesthetic-green: #047C3F;
  --bg-green-overlay: url(../svg/bg-green-overlay.svg);
  
  --aesthetic-yellow-bg: #1D1C19;
  --aesthetic-yellow: #F7DD43;
  --bg-yellow-overlay: url(../svg/bg-yellow-overlay.svg);

  --card-bg-color: var(--aesthetic-blue-bg);
  --primary-card-color: var(--aesthetic-yellow);
  --title-border-color: var(--primary-card-color);
}
body {
  background: #121214 var(--bg-blue-overlay) no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

#app {
  width: fit-content;
  margin: 52px auto;
}

header {
  text-align: center;
  margin-bottom: 63px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

div.card {
  background-color: var(--card-bg-color);
  text-align: center;
  padding: 32px 23px;
  border-radius: 6px;
  border-bottom: 2px solid var(--primary-card-color);

}

div.card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  width: fit-content;
  font-weight: 900;
  font-size: 1.5em;
  color: #F7DD43;

  border: 1px solid var(--title-border-color);
  border-radius: 6px;  

  padding: 8px 16px;
  margin-inline: auto;
  margin-bottom: 53px;
}

h2 > span {
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  
  width: 270px;
}

.card ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #E1E1E6;
}

li:not(:last-child) {
  border-bottom: 1px solid #323238;
  padding-bottom: 24px;
}

.card h2:hover,
.card li img:hover, 
.card li strong:hover {
  transform: scale(1.1);
}
.card h2,
.card li img, 
.card li strong {
  transition: transform .3s;
}

.card {
  animation: appear 3s;
}

@keyframes appear {
 0% {
  transform: translateY(-50px);
  opacity: 0;
 }

 100% {
  opacity: 1;
 }
}

@media (min-width: 700px) and (max-width: 900px) {
  .cards {
    flex-direction: row;
    max-width: 664px;
    flex-wrap: wrap;
  }
}
@media (min-width: 900px) {
  .cards {
    flex-direction: row;
    max-width: 1020px;
    flex-wrap: wrap;
  }
}