* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121214 url(../svg/bg-overlay.svg) no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

#app {
  width: fit-content;
  margin: 52px auto;
}

header {
  text-align: center;
  margin-bottom: 63px;
}

main.card {
  display: grid;
  justify-content: center;
  align-items: center;
}

div.card {
  background-color: #1A1F1B;
  text-align: center;
  padding: 32px 23px;
  border-radius: 6px;
  border-bottom: 2px solid #047C3F;
}

div.card h2 {
  width: fit-content;
  font-weight: 900;
  font-size: 1.5em;
  color: #F7DD43;
  border: 1px solid #047C3F;
  border-radius: 6px;  
  padding: 8px 16px;
  margin-inline: auto;
  margin-bottom: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

h2 > span {
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.card ul {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #E1E1E6;
}

li:not(:last-child) {
  border-bottom: 1px solid #323238;
  padding-bottom: 24px;
}